$color_hard:#2d2555;
$color_harder: #1f1a3b;
$color_light:#c2b7ff;
$color_lighter: #e1dbff;
/* 
:root {
    background-color: #fefefe;
    filter: invert(100%);   
}

 * {
    background-color: inherit;
}

img:not([src*=".svg"]) {  
    filter: invert(100%);
} */

.container {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1400px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0 0;
    
    &__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16px, 3fr));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 3fr));
    grid-column-gap: 0;
    grid-row-gap: 2rem;
    }
}

    /* .wrap > :nth-child(even) {
        background-color: $color_light;
    } */

.header { 
    display: grid;
    grid-area: 1 / 1 / 1/ 6; 
    max-height: 10em;
    /* background-color: $color_lighter; */

    &__logo {
        align-self: center;
        justify-content: center;
    }

    &__text {
        grid-area: 1 / 2/ 1/ 6;
        align-self: center;
        font-size: 2em;
        color: $color_hard;
        padding-left: 2rem; 
    }   

    &__nav {
        grid-area: 1 / 4/ 1/ 6;
        align-self: center;
        justify-self: end;
        list-style-type: none;
        margin: 0 0 0 0;
    }
}

.menu {
    &__item {
        display: inline-block;
        text-align: center;
        padding-left: 0.2em;
        text-decoration: none;
        font-weight: bold;
        list-style: none;
    }
    
    &__item-active {
        color: $color_hard;
        text-decoration: none;
    }

    &__item-active:hover {
        color:$color_light;
    }
}

.head { 
    grid-area: 2 / 1 / 2 / 6; 
    
    &__foto {
        max-width: 40%;
        clip-path: circle(50% at 50% 50%);
    }
}

.about { 
    grid-area: 2 / 3 / 3 / 6; 
    padding-left: 3em;

/*     &__text {
        color: $color_hard;        
    } */

    &__career {
        background-color: $color_light;
        border: 0.1rem solid $color_light;
        border-radius: 10px;
        cursor: pointer;
    }
}

.portfolio {
    grid-area: 3 / 2 / 4 / 5 ; 
    display: grid;

    &__heading {
        display: flex;
        align-self: center;
        justify-content: center;
        color: $color_hard;
    }

    &__title {
        display: flex;
        color: $color_hard;
        justify-content: center;
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
    }

    &__foto {
        display: flex;
        justify-content: center;
        max-width: 100%;
        border: #0F0F0F 1px solid;
        color: $color_hard;
        text-decoration: none;
        font-weight: 600;
    }
}


.interests { 
    grid-area: 4 / 1 / 5 / 6;

    &__button {
            display: block;
            margin: auto ;
    }

    &__text {
        color: red;
    }
}

.footer {
    grid-area: 5 / 1 / 5 / 6;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color_hard;

    &__social {
        list-style-type: none;
        display: flex;
        padding-left: 0px;
    }
    &__link {
        text-decoration: none;
        font-size: 2rem;
        margin-left: 0.5em;
        color: $color_light;
    }

    &__contacts {
        font-weight: 600;
    }
}

@media (max-width:1200px) {
    .container{ 
        max-width: 970px;}
    }
@media (max-width:992px) {
    .container{ 
        max-width: 750px;
        }
}
@media (max-width:767px) {
    .container{ 
        max-width: 630px;
    }
    .menu {
        display: none;
    }

    .burger {
        display: inline-block;
        margin: 3px;
        cursor: pointer;

    .item {
            display: block;
            width: 30px;
            height: 4px;
            margin: 0.5em auto;
            background: $color_harder;
        }
    }
    .show {
        display: grid;
    }
}